name: Backend CI & Sonar

on:
  push:
    paths:
      - "backend/**"
      - ".github/workflows/docker-image-backend.yml"
  pull_request:
    paths:
      - "backend/**"

jobs:
  backend-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install deps
        run: |
          cd backend
          npm install

      - name: Run ESLint
        run: |
          cd backend
          npx eslint .

      - name: Run tests with coverage
        run: |
          cd backend
          npm test -- --coverage
